div {
text-align: center;
} 


.divi {
  border: 2px solid violet;
  width: 50%;
  margin: auto;

  margin-top: 20px;

  box-sizing: border-box;
  
}

h1 {
  margin: 50px 0 50px 0;
}

.divi:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.pipi {
   width: 50%;
  margin-left: 150px;
}

button {
  padding: 8px;
  border-radius: 15px;
  border: solid 1px gray;
  width: 150px;
}

label {
  display: flex;
  justify-content: space-between;
}

#root {
  width: 600px;
}

form {
  margin: 20px 150px;
}

